.quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 190px;
    margin-right: 24px;
}

.quantity div {
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    cursor: pointer;
}