.items-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 600px;
}

.item-container {
    overflow-y: auto;
}

.item-container::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.item-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.item-container::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 6px;
}

.item-container::-webkit-scrollbar-button {
    display: none;
}