.items-container {
    display: flex;
    gap: 8px;
}

.attribute {
    min-width: 63px;
    max-width: fit-content;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #1D1F22;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: #1D1F22;
    color: #ffff;
}