.scrolls {
    height: calc(100%-107px);

}

.item-container {
    display: flex;
    justify-content: space-between;
    height: 190px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin: 10px 0;
}


