.main {
    position: relative;
    width: 1440px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 80px 100px 0;
    margin-bottom: 100px;
}

.product-description {
    width: 292px;
    min-height: 510px;
}

.product-brand {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 16px;
}

.product-name {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 43px;
}

.product-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}