.header-navigation {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list-Container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}


.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    color: #1D1F22;
    cursor: pointer;
}

.nav-item:hover,
.active {
    font-weight: 600;
    color: #5ece7b;
    box-shadow: inset 0 -2px 0 0 #5ece7b;
}