.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.checkout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 107px;
    background-color: #ffff;
}

.view-bag-btn,
.checkout-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 140px;
    height: 43px;
    border: none;
    font-weight: 600;
    font-size: 14px;
}

.navigator {
    text-decoration: none;
}

.view-bag-btn {
    background: #FFFFFF;
    border: 1px solid #1D1F22;
    color: #1D1F22;
}

.checkout-btn {
    background: #5ECE7B;
    color: #FFFFFF;
    cursor: pointer;
}